In [2]:
#!pip install google-cloud-bigquery
#!pip install google-cloud-bigquery-storage

In [3]:
from google.cloud import bigquery
import pandas as pd

In [6]:
KEY_PATH = 'data/sample_key.json'
BQ_PROJECT_ID = 'my_project'

client = bigquery.Client.from_service_account_json(json_credentials_path=KEY_PATH, project=BQ_PROJECT_ID)

In [7]:
sales_query = """
    SELECT 
    extract(year from transaction_date) as business_year,
    extract(week from transaction_date) as business_week,
    sum(sales_gross_amount_euro) as total_revenue
    FROM `my_project.my_dataset.my_table` 
    group by 1, 2
    order by 1, 2
"""
sales_df = client.query(sales_query).result().to_dataframe() # Make an API request and convert the result to a Pandas dataframe.
sales_df.head()

   business_year  business_week  total_revenue
0           2017             35       0.000000
1           2017             36     332.482604
2           2017             37    1065.249346
3           2017             38     966.835477
4           2017             39     790.116999